body, html {
  height: 100%;
  font: 16px "Calibri", sans-serif;
  color: #777;
}

/*---------Navigation--------------------------------------------------->*/

.navbar-light {
    background-color: #fff;
    border-bottom: 3px #bd2026 solid;
}

.navbar-nav  {
    background-color: #fff;
    margin: 0% 0% 0 0%;
    padding: 0 0 7px 0;
}

.navbar .navbar-nav .nav-link {
    color: #333;
    font-family: "Titillium Web", sans-serif;
}

.navbar .navbar-nav .nav-link:hover {
    color: #bd2026;
}

.navbar-nav li  {
    padding: 0 20px;
    font-size: 1.3em;
}

.navbar-collapse {
    background-color: #fff;
    opacity: 1;
    margin-top: 10px;
}

/*---------Home Carousel--------------------------------------------------->*/

#home {
    margin-top: 89px;
}

/*---------Home About--------------------------------------------------->*/

#about {
    margin-bottom: 150px;
}

#about h1{
    color: #1d3a6d;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 50px 0px 30px 0px;
}

#about p {
    font-size: 1.4em;
    line-height: 1.7;
    padding: 0 0px;
}

/*---------Marine, Roofing, Substation, General Construction, Press Releases, Contact Us--->*/

#marine, #roofing, #substation, #general-construction, #press-releases, #contact-us {
    margin-top: 80px;
    margin-bottom: 150px;
}

#marine h1, #roofing  h1, #substation h1, #general-construction h1, #press-releases h1, #contact-us h1 {
    color: #1d3a6d;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 50px 0px 0px 0px;
}

#marine h2, #roofing h2, #substation h2, #general-construction h2, #press-releases h2, #contact-us h2 {
    text-align: center;
    padding-top: 50px;
}

/*---------Lightbox-----------------*/

.gallery-home {
    padding: 1% 2%;
   
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 200px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #080a26;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #080a26;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 150px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  /*margin-top: -50px;*/
  color: white;
  background-color: #000;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 1.1em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #000;
  opacity: 0.7;
}

.caption-container {
  text-align: center;
  background-color: #080a26;
  padding: 2px 16px;
  color: #fff;
}

.demo {
  opacity: 0.6;
  margin-bottom: 5%;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-------------------Press Releases------------------------*/

#press-releases p {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 30px;
}

/*-------------------Contact Us------------------------*/

.contact-left {
    margin-top: 50px;
}

.contact-left p{
    font-size: 1.5em;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
    margin-top: 50px;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*-------------------Footer----------------------------*/

footer {
    text-align: center;
    padding: 10px 10px 2px 10px;
    background-color: #91191d;
    color: #fff;
}

footer h2 {
    font-size: 1em;
}

